  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewLabelDetection">
              <span data-feather="file"></span>
              Image - Label Detection
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewLabelDetectionS3">
              <span data-feather="file"></span>
              Image - Label Detection S3
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewImageModeration">
              <span data-feather="shopping-cart"></span>
              Image - Moderation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewFacialAnalysis">
              <span data-feather="users"></span>
              Image - Facial Analysis
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewFacialAnalysisS3">
              <span data-feather="users"></span>
              Image - Facial Analysis S3
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewCelebrityRecognition">
              <span data-feather="bar-chart-2"></span>
              Image - Celebrity Recognition
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewFacesComparison">
              <span data-feather="layers"></span>
              Image - Face Comparison
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewTextImage">
              <span data-feather="layers"></span>
              Image - Text in Image
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewCreateCollection">
              <span data-feather="layers"></span>
              AWS - Create Collection
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewIndexFileCollection">
              <span data-feather="layers"></span>
              Image - Index File Collection
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewFindImageCollection">
              <span data-feather="layers"></span>
              Image - Find Faces in Collection
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewSendVideoLabelDetection">
              <span data-feather="layers"></span>
              Video - Send Video Label Detection
            </a>
          </li>
        </ul>
      </div>
    </nav>